<eui-office-form tabMenu="{{model.core.tabMenus}}"
    et:onClick="onOfficeFormClick"
    title="UI编辑器"
    id="{{formAppId}}"
    statusBarCol1="{{state.name}}"
    statusBarCol2="江涛"
    statusBarCol3="250933400@qq.com"
    statusBarCol4="{{state.date}}"
    help="{{true}}"
>
    <!--Copyright © 2020 elmer All rights Reserved-->
    <eui-office-split-layout
        rightTitle="{{state.rightTitle}}"
        leftTitle="{{state.leftTitle}}"
        et:onLayoutChange="handleOnSplitLayoutChange"
        id="appRightArea"
        showCode="{{state.showCode}}"
    >
        <ChildrenWrapperLeft>
            <TopSplitLayout>
                <ChildrenWrapperTop>
                    <div class="UIEditor_structure">
                        <eui-tree-view et:onChange="onStructTreeClick" changeOnDblClick="{{false}}" data="{{state.htmlStruct}}"/>
                    </div>
                </ChildrenWrapperTop>
                <ChildrenWrapperBottom>
                    <div class="UIEditor_structure">
                        <eui-tab>
                            <eui-tab-item title="样式">
                                <eui-property-editor isHumpToStr="{{true}}" data="{{state.cssAttrs}}"/>
                            </eui-tab-item>
                            <eui-tab-item title="属性">
                                <span>table item 属性</span>
                            </eui-tab-item>
                            <eui-tab-item title="事件">
                                <span>table item 事件</span>
                            </eui-tab-item>
                        </eui-tab>
                    </div>
                </ChildrenWrapperBottom>
            </TopSplitLayout>
        </ChildrenWrapperLeft>
        <ChildrenWrapperRight>
            <div class="AppRightArea">
                <div if="{{state.showCode}}" style="width: 100%;height:100%;display:bock;">
                    <eui-code-editor id="{{editorId}}"
                        code="{{state.codeSource}}"
                        language="{{state.showCodeType}}"
                        et:onDidSave="onEditorDidSave"
                    />
                </div>
                <div em:show="state.showCode eq false" class="AppIframeArea">
                    <span>{{state.demoCount}}</span>
                    <iframe attach="{{true}}" id="{{iframeId}}" src="{{state.previewLink}}"/>
                </div>
            </div>
        </ChildrenWrapperRight>
    </eui-office-split-layout>
</eui-office-form>